html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrap {
  margin: 2.5rem 0;
}
